@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");


html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  overflow-x: hidden;
  background-color: #333;
}

.scrollText {
  width: 300px;
  margin-top: -60px;
  margin-left: -90px;
  font-size: 38px;;
}
.container {
  width: 100%;
  height: 100%;
  /* background-color: #c9d6df; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.field {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 300px;
}
.scroll {
  top: 50%;
  width: 60px;
  height: 60px;
  border: 2px solid #fff;
  border-radius: 50%;
  position: relative;
  animation: down 1.5s infinite;
  -webkit-animation: down 1.5s infinite;
  opacity: 1;
  transition: opacity 0.5s ease;
  font-family: 'Dancing Script', cursive;
  color: #fff;
}
.scroll::before {
  content: "";
  position: absolute;
  top: 16px;
  left: 20px;
  width: 18px;
  height: 18px;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transform: rotate(-45deg);
}
@keyframes down {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translateY(15px);
  }
  40% {
    transform: translate(0);
  }
}
@-webkit-keyframes down {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translateY(15px);
  }
  40% {
    transform: translate(0);
  }
}


.name {
  display: flex;
  font-size: 60px;
  align-items: flex-start;
  color: #000;
  justify-content: center;
  opacity: 1;
}

.name span {
  position: sticky;
  height: 100px;
  display: inline-flex;
  align-items: center;
  /* mix-blend-mode: overlay; */
  font-family: 'Dancing Script', cursive;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 220px;
  color: white;
}

.c1 {
  top: calc(40% - 100px);
  margin-top: 100vw;
}

.c2 {
  top: calc(40% - 100px);
  margin-top: 110vw;
}

.c3 {
  top: calc(40% - 100px);
  margin-top: 120vw;
}

.c4 {
  top: calc(40% - 100px);
  margin-top: 130vw;
}

.c5 {
  top: calc(40% - 100px);
  margin-top: 140vw;
}

.c6 {
  top: calc(60%);
  margin-top: 150vw;
  margin-left: -200px;
}

.c7 {
  top: calc(60%);
  margin-top: 160vw;
}

.c8 {
  top: calc(60%);
  margin-top: 170vw;
}

.c9 {
  top: calc(60%);
  margin-top: 180vw;
}

.c10 {
  top: calc(60%);
  margin-top: 190vw;
}

.c11 {
  top: calc(60%);
  margin-top: 200vw;
}

.c12 {
  top: calc(60%);
  margin-top: 230vw;
}

/* a {
  position: sticky;
  bottom: -80px;
  width: 180px;
  text-align: center;
  right: 0;
  padding: 10px 20px;
  float: right;
  font-family: 'Dancing Script', cursive;
  mix-blend-mode: overlay;
  color: #fff;
  font-size: 15px;
  z-index: 1;
  background-color: #000;
  border-radius: 20px 0 0;
  text-decoration: none;
} */

.scroll {
  position: fixed;
  bottom: 0;
  pointer-events: none;
}

@media (max-width: 660px) {
  a {
    display: none;
  }
  
  span {
    font-size: 15vw;
  }
}


*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.stack__card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: sticky;
  top: 0;
  box-shadow: 0 -1px 3px rgba(255, 255, 255, 0.1), 0 -1px 2px rgba(255, 255, 255, 0.25);
}

.stack__card:nth-child(1) {
  flex-direction: column;
  background-color: #333;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper .static-text {
  color: #fff;
  font-size: 70px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
}
.wrapper .dynamic-texts {
  margin-left: 20px;
  height: 95px;
  line-height: 95px;
  overflow: hidden;
}
.dynamic-texts li {
  list-style: none;
  color: #FC6D6D;
  font-weight: 500;
  position: relative;
  top: 0;
  animation: slide 9s steps(3) infinite;
}
@keyframes slide {
  100% {
    top: -335px;
  }
}
.dynamic-texts li span {
  color: #FC6D6D;
  position: relative;
  margin: -1px 0;
  font-size: 70px;
  line-height: 95px;
  font-family: 'Poppins', sans-serif;
}
.dynamic-texts li span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #333;
  border-left: 2px solid #FC6D6D;
  animation: typing 3s steps(10) infinite;
}
@keyframes typing {
  40%, 60% {
    left: calc(100% + 30px);
  }
  100% {
    left: 0;
  }
}

[tooltip] {
  position: relative; 
}

[tooltip]::before,
[tooltip]::after {
  text-transform: none;
  font-size: .9em;
  line-height: 1;
  user-select: none;
  pointer-events: none;
  position: absolute;
  display: none;
  opacity: 0;
}
[tooltip]::before {
  content: '';
  border: 8px solid transparent;
  z-index: 1001;
}
[tooltip]::after {
  content: attr(tooltip);
  font-family: Helvetica, sans-serif;
  text-align: center;
  min-width: 3em;
  max-width: 21em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 1ch 1.5ch;
  border-radius: .3ch;
  box-shadow: 0 1em 2em -.5em rgba(0, 0, 0, 0.35);
  background: #bae8e8;
  color: #2c698d;
  z-index: 1000;
}

[tooltip]:hover::before,
[tooltip]:hover::after {
  display: block;
}

[tooltip='']::before,
[tooltip='']::after {
  display: none !important;
}

[tooltip][flow^="right"]::before {
  top: 50%;
  border-left-width: 0;
  border-right-color: #bae8e8;
  right: calc(0em - 5px);
  transform: translate(.5em, -50%);
}
[tooltip][flow^="right"]::after {
  top: 50%;
  left: calc(100% + 5px);
  transform: translate(.5em, -50%);
}

.socials ul .tool-tip-design {
  font-size: 24px;
  font-weight: bold;
}

@keyframes tooltips-vert {
  to {
    opacity: .9;
    transform: translate(-50%, 0);
  }
}

@keyframes tooltips-horz {
  to {
    opacity: .9;
    transform: translate(0, -50%);
  }
}

[tooltip]:not([flow]):hover::before,
[tooltip]:not([flow]):hover::after,
[tooltip][flow^="right"]:hover::before,
[tooltip][flow^="right"]:hover::after {
  animation: tooltips-horz 300ms ease-out forwards;
}





.socials ul {
  display: flex;
  margin-top: 120px;
}
.socials ul li {
  list-style: none;
  margin: 0 10px;
  height: 90px;
  width: 90px;
  color: #bae8e8;
  border: 2px solid #bae8e8;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 64px;
  transition: all ease 0.3s;
}

.socials ul li:hover {
  color: #2c698d;
  background: #bae8e8;
  cursor: pointer;
}

.socials ul a {
  text-decoration: none;
}
.download-icon {
  margin: 0;
  padding-top: 22px;
  padding-left: 13px;
  height: 90px;
  width: 90px;
  color: #bae8e8;
  font-size: 64px;
}
.download-icon:hover {
  color: #2c698d;
}
.social-download-list {
  display: inline-block;
  position: relative;
  padding: 0;
}
.social-download-list:hover {
  color: #2c698d;
  background: #bae8e8;
  cursor: pointer;
}

.download-icon input {
  width: 120%;
  height: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  left: -20px;
  cursor: pointer;
}

.scrollText-1 {
  width: 450px;
  margin-top: -60px;
  margin-left: -160px;
  font-size: 38px;;
}
.field-1 {
  display: flex;
  justify-content: space-around;
  width: 400px;
}
.scroll-1 {
  margin-top: 200px;
  top: 50%;
  width: 60px;
  height: 60px;
  border: 2px solid #fff;
  border-radius: 50%;
  position: relative;
  animation: down 1.5s infinite;
  -webkit-animation: down 1.5s infinite;
  opacity: 1;
  transition: opacity 0.5s ease;
  font-family: 'Dancing Script', cursive;
  color: #fff;
}
.scroll-1::before {
  content: "";
  position: absolute;
  top: 16px;
  left: 20px;
  width: 18px;
  height: 18px;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transform: rotate(-45deg);
}


.stack__card:nth-child(2) {
  background-color: #333;
  justify-content: space-around;
}

.stack__card:nth-child(2) .card{
  position: relative;
  /* cursor: pointer; */
}

.stack__card:nth-child(2) .card .face{
  width: 400px;
  height: 350px;
  transition: 0.5s;
}

.stack__card:nth-child(2) .card .face.face1{
  position: relative;
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(50px);
}

.stack__card:nth-child(2) .card:hover .face.face1{
  background: #2547b8;
  transform: translateY(0);
}

.stack__card:nth-child(2) .card .face.face1 .content{
  opacity: 0.2;
  transition: 0.5s;
}

.stack__card:nth-child(2) .card:hover .face.face1 .content{
  opacity: 1;
}

.stack__card:nth-child(2) .card .face.face1 .content img{
  width: 200px;
}

.stack__card:nth-child(2) .card .face.face1 .content h3{
  margin: 10px 0 0;
  padding: 0;
  color: #fff;
  text-align: center;
  font-size: 2em;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

.stack__card:nth-child(2) .card .face.face2{
  position: relative;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
  transform: translateY(-300px);
}

.stack__card:nth-child(2) .card:hover .face.face2{
  transform: translateY(0);
}

.stack__card:nth-child(2) .card .face.face2 .content p{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 1.2em;
}

.stack__card:nth-child(2) .card .face.face2 .content .animate-gh{
  /* margin: 15px 0 0; */
  margin-left: 65%;
  display:  inline-block;
  text-decoration: none;
  font-weight: 900;
  font-size: 1.2em;
  color: #333;
  padding: 5px;
  border: 1px solid #333;
  font-family: 'Poppins', sans-serif;
  transition: all 0.6s;
}

.stack__card:nth-child(2) .card .face.face2 .content .animate-gh:hover{
  background: #333;
  color: #fff;
  transition: all 0.3s;
}

.middle .animate-pl {
  top: 50%;
  display: inline-block;
  margin: 10px;
  text-decoration: none;
  color: #000;
  font-size: 1em;
  font-weight: bold;
  position: relative;
  transition: all 0.6s;
}
.middle .animate-pl:before {
  content: "";
  width: 0;
  height: 0.1em;
  position: absolute;
  bottom: 0;
  left: 50%;
  transition: all 0.3s;
}
.middle .animate-pl:hover:before {
  width: 100%;
  left: 0;
  background: #000;
}

.stack__card:nth-child(3) {
  background-color: #333;
  justify-content: space-around;
}

.stack__card:nth-child(3) .card{
  position: relative;
  cursor: pointer;
}

.stack__card:nth-child(3) .card .face{
  width: 400px;
  height: 350px;
  transition: 0.5s;
}

.stack__card:nth-child(3) .card .face.face1{
  position: relative;
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(50px);
}

.stack__card:nth-child(3) .card:hover .face.face1{
  background: #2547b8;
  transform: translateY(0);
}

.stack__card:nth-child(3) .card .face.face1 .content{
  opacity: 0.2;
  transition: 0.5s;
}

.stack__card:nth-child(3) .card:hover .face.face1 .content{
  opacity: 1;
}

.stack__card:nth-child(3) .card .face.face1 .content img{
  width: 200px;
}

.stack__card:nth-child(3) .card .face.face1 .content h3{
  margin: 10px 0 0;
  padding: 0;
  color: #fff;
  text-align: center;
  font-size: 2em;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

.stack__card:nth-child(3) .card .face.face2{
  position: relative;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
  transform: translateY(-300px);
}

.stack__card:nth-child(3) .card:hover .face.face2{
  transform: translateY(0);
}

.stack__card:nth-child(3) .card .face.face2 .content p{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 1.2em;
}

.stack__card:nth-child(3) .card .face.face2 .content .animate-gh{
  /* margin: 15px 0 0; */
  margin-left: 65%;
  display:  inline-block;
  text-decoration: none;
  font-weight: 900;
  font-size: 1.2em;
  color: #333;
  padding: 5px;
  border: 1px solid #333;
  font-family: 'Poppins', sans-serif;
  transition: all 0.6s;
}

.stack__card:nth-child(3) .card .face.face2 .content .animate-gh:hover{
  background: #333;
  color: #fff;
  transition: all 0.3s;
}


.stack__card:nth-child(4) {
  background-color: #333;
}
.stack__card:nth-child(5) {
  background-color: #333;
}